
<h3>Number of times you've visited this homepage: {{countVisit}}</h3>
<!-- For each gallery, the 'gallery-details' partial is used to render the gallery data -->
{{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}}